---
layout: default
styles: ["/css/index.css"]
---

<ul class="visualizations">
	{% for page in site.pages order:ascending %}
	{% if page.url != "/" %}
	<li><a href="{{ page.url | prepend: site.baseurl }}"><img src="{{ page.image | prepend: site.baseurl }}" alt="{{ page.title }}" /></a></li>
	{% endif %}
	{% endfor %}
	<li><a href="{{ site.baseurl }}/Birman99.pdf"><img src="{{site.baseurl}}/img/bimodal-multicast.png" alt="Bimodal Multicast" /></a></li>
	<li><a href="{{ site.baseurl }}/slides.pdf"><img src="{{site.baseurl}}/img/slides.png" alt="Slides" /></a></li>
</ul>
