<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" />
		<link rel="stylesheet" href="{{ "/css/jquery-ui.css" | prepend: site.baseurl }}" />
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />

		{% for style in page.styles %}
		<link rel="stylesheet" href="{{ style | prepend: site.baseurl }}" />
		{% endfor %}
	</head>

	<body>
		<div class="page-wrap">
			{% include header.html %}

			<div class="container">
				{{ content }}
			</div>
		</div>

		<footer>
			<div class="container">
				<p>By <a href
="http://brucespang.com">Bruce Spang</a>, 2014</p>
			</div>
		</footer>

		<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/jquery-ui.min.js" | prepend: site.baseurl }}"></script>

		{% for script in page.scripts %}
		<script src="{{ script | prepend: site.baseurl }}"></script>
		{% endfor %}
	</body>
</html>
